[patch.crates-io]
datex = { path = "../datex-native/crates/datex" }
datex-core = { path = "../datex/crates/datex-core", default-features = false, features = [
    "target_native", "decompiler", "syntax_highlighting_legacy", "compiler", "allow_unsigned_blocks"
] }